@{ ViewData["Title"] = "Home Page"; }

<style>
    .text-center {
        color: white;
    }

    .display-4 {
        position: relative;
        right: 100px;
        top: 100px;
        font-size: 150px;
    }

    .display-3 {
        position: relative;
        right: 70px;
        top: 105px;
        text-indent: 150px;
        font-size: 150px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Fare</h1>
    <h1 class="display-3">Matrix</h1>
</div>
