@model UniqueMvc.Models.cusInfo


<div class="container">
    <h1 class="page-title">Details</h1>
    <div class="Customer-details">
        <div class="Customer-details--container">
            <p class="Customer-details--label">First Name:</p>
            <p class="Customer-details--info">@Model.ApplicationUser.Name</p>
        </div>
        <div class="Customer-details--container">
            <p class="Customer-details--label">Last Name:</p>
            <p class="Customer-details--info">@Model.ApplicationUser.LastName</p>
        </div>
    </div>

</div>
